/* home page styling */

*{
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p, a{
  font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-bottom: 20px;
    color: #333;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 5em;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  /* nav styling */

  .navLinks {
    float: right;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;  
  }


  
  nav li {
    line-height: 3.2em;
    float: left;
  }
  
  nav li a {
    display: block;
    color: #aaaaaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  li a:hover {
    color: #111;
  }

  li a:active {
    color: #3F5EFB;
  }

  
  /* footer */

  .accent {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    height: 8px;
  }

  footer{
    color: #333;
    background: #666666;
    height: 5em;
  }
  
  footer p{
    color: #aaaaaa;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 12px;
  }

  footer ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }

  footer li {
    display: inline-block;
  }
  footer div{
    width: 100%;
  }

  footer a {
    display: block;
    color: #aaaaaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    float: center;
  }

  
  .background {
    overflow: hidden;
    background-image: url("../../assets/images/memphis-mini.png");
    padding-bottom: 10%;
  }
  
  .headerContainer{
    width: 100px;
  }
  
  .logo{
    color: #ffffff;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    float: left;
    width: 20em;
    text-align: center;
    height: 5em;
    vertical-align: middle;
  }
  
  .content-title{
      border-bottom: 2px solid #cccccc; 
      margin-bottom: 20px;
      color: #3F5EFB
    }

  .content{
    clear: both;
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #333;
    margin-top: 150px; 
    margin-bottom: 50px;
    
    padding: 30px;
    overflow: hidden;
}


.center{
  width: 960px;
  margin: 0 auto;
}


/* about me styling */
.bioImage{
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

/* contact form styling */

form {
  padding-bottom: 50px ;
}

input, textarea {
  width: 100%;
  border: solid 1px #cccccc;
  padding: 10px;
  margin-bottom: 30px;
}

textarea {
  padding-bottom: 200px;
}

.btn{
  width: 150px;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

/* portfolio styling */

.portfolio-container {
  display: block;
}

.port-widget:hover{
 box-shadow: 10px 10px 20px #888888;
  }

.port-widget{
position: relative;
float: left;
padding: 15px;
overflow: hidden;
z-index: 0;
}

.port-title {
  color: #ffffff;
  position: absolute;
  background-color: #666666;
  border:solid 1px #888888;
  opacity: 10px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 50px;
  width: 300px;
  top: 210px;
}

/* responsive media queries */

@media screen and (max-width: 980px){
 .center{
  width: 700px;
 }
}


@media screen and (max-width: 768px){
  nav li a {
    padding: 5px 6px;
    line-height: 70px;
  }
  .center{
    width: 600px;
   }
}


@media screen and (max-width: 640px){
  header{
    height: 9.5em;
    /* margin-bottom: 800px;  */
  }

  .content{
    margin-top: 200px ;
  }
  .center{
    width: 500px;
   }

   .logo {
     width: 100%;
   }

   .navLinks {
     width: 100%;
     margin: 0 auto;
     text-align: center

   }
   nav{
     width: 100%;
   }
   nav ul {
    display: inline-block;
  }
}